---
import Layout from '../../layouts/Layout.astro';
import { getAllPostsWithSlugs, getPostBySlug } from '../../lib/api';

export async function getStaticPaths() {
  const postsWithSlugs = await getAllPostsWithSlugs();
  return postsWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const post = await getPostBySlug(slug);
const content = post.content
  .replace(
    'http://astrowp.local',
    `https://www.conseilinvestissement.fr/articles`
  )
  .replace('astrowp.local', 'conseilinvestissement.fr/articles')
  .replace('http://', 'https://')
  .replace(
    'http://astrowp.local',
    `https://www.conseilinvestissement.fr/articles`
  )
  .replace('astrowp.local', 'conseilinvestissement.fr/articles')
  .replace('http://', 'https://');

const schema = JSON.stringify(post.seo.schema.raw).replace(
  'http://astrowp.local',
  `https://www.conseilinvestissement.fr`
);
---

<Layout title={post.seo.title} description={post.seo.metaDesc}>
  <div class="articles main">
    <h1>{post.title}</h1>
    <article
      set:html={content.replace(
        'http://astrowp.local',
        `https://www.conseilinvestissement.fr/articles`
      )}
    >
    </article>
  </div>
  <style is:global>
    .articles.main {
      max-width: 640px;
      margin: 0 auto;
    }

    .articles.main h2,
    .articles.main h3,
    .articles.main h4,
    .articles.main h5,
    .articles.main h6 {
      font-size: 28px;
      line-height: 1.4;
      margin: 24px 0 18px 0;
    }

    .articles.main p {
      font-size: 20px;
      line-height: 1.4;
    }
  </style>
</Layout>
