---
import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
import street from '../assets/images/street-paris.jpg';
---

<Layout title="Bienvenue chez Conseil Investissement.">
  <main>
    <section class="hero">
      <div class="presentation">
        <h1 class="title f-title">
          Conseil Investissement blog sur l'investissement
        </h1>
        <div class="description">
          <p>
            Bienvenue chez Conseil Investissement votre blog référence pour
            l'investissement des particuliers. Notre mission est de vous fournir
            les meilleurs conseils et astuces pour vous aider à tirer le
            meilleur parti de vos investissements.
          </p>
          <p>
            Nous nous efforçons de fournir des informations claires et concises
            qui vous permettront de prendre des décisions éclairées concernant
            vos investissements. Nous pensons que chacun a le droit d'accéder à
            des informations de qualité sur les investissements, quel que soit
            son niveau d'expérience ou de connaissances
          </p>
        </div>
      </div>
      <Image
        fit="contain"
        format="webp"
        class="illu"
        src={street}
        alt="Une rue à paris bon investissement"
      />
    </section>

    <section class="coaching">
      <p>
        Je suis régulièrement sollicité par mail pour des conseils sur
        l'investissement immobilier locatif. J'ai donc eu l'idée de mettre à
        votre disposition mon expertise d'investisseur immobilier avec un
        entretien par skype ou téléphone.
      </p>
      <p>
        Pour commencer, je vous offre un premier appel téléphonique gratuit de
        20 minutes au cours duquel nous évaluerons ensemble vos besoins et vos
        objectifs afin d'établir un plan d'action.
      </p>
      <p>Les différents forfaits que je vous propose sont les suivants</p>
      <ul>
        <li>Forfait 1 : 3 séances de 1h30 au prix de 400 euros</li>
        <li>Forfait 2 : 6 séances de 1h30 pour 650 euros</li>
      </ul>
      <p>
        La première étape est évidemment de discuter avec vous afin de faire
        connaissance, de comprendre vos besoins et de déterminer le type d'aide
        dont vous avez besoin.
      </p>
      <p>
        Ensuite, nous verrons ensemble quelles sont les meilleures mesures à
        prendre dans votre situation
      </p>
    </section>
  </main>
</Layout>

<style lang="scss">
  body {
    padding: 0;
    margin: 0;
  }
  main {
    margin: auto;
  }
  .hero {
    position: relative;
    top: 0;
    max-height: 50vh;
    max-width: 100%;

    .description {
      color: #fff;
      text-shadow: 1px 1px 1px var(--main-color);
      font-size: 24px;
      max-width: 640px;
    }

    .presentation {
      position: absolute;
      top: 50%;
      left: 3rem;
      background: #0a2957b0;
      padding: 3rem;
    }
    .title {
      color: #fff;
      text-shadow: 2px 2px 2px var(--main-color);
    }
    .illu {
      max-width: 100%;
      height: auto;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
